.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;

  .logo {
    width: 50px;
    text-align: center;
    padding-top: 5px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        color: white;
        text-decoration: none;
        font-weight: 300;
      }
    }
  }
}
